body {
    color: #fff;
}
div.center {
    display: block;
    margin: auto;
    width: max-content;;
    padding: 10px;
    height: max-content;
    background-color: rgba(63, 63, 63, 0.699);
}
a {
    color: #8c00ff;
}
a:hover {
    color: #00fff2;
}